.teacherContainer {
  display: flex;
  justify-content: space-between;
  gap: 2%;


  .nameOfLi {
    font-weight: bold;
    color: rgba(100, 116, 139, 1);
}

  div {
    width: 100%;
    gap: 10%;
  }

  .h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 5px;
    padding-bottom: 20px;
  }

  .blockOne {
    padding: 5% 1% 1% 5%;
    h2,
    h3 {
      font-size: 14px;
      color: rgb(0, 0, 0);
      opacity: 0.7;
    }
  }
  .blockTwoStatus {
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-bottom: 20px;
  }

  .blockTwoFlex {
    display: flex;
    list-style-type: none;
    text-align: left;
    border-bottom: 0.1px solid rgb(167, 154, 154);
    margin-top: 10px;
    margin-bottom: 10px;

    .oneTwo {
      width: 1%;
    }

    .subject3 {
      width: 99%;
    }

    .status {
        color: green;
    }
  }

  .statusContainer {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
  }

  .blockTwo {
    padding: 5% 1% 1% 5%;

    div {
      display: flex;
      justify-content: space-between;
      padding-right: 5%;
    }

    h2,
    h3 {
      font-size: 14px;
      color: rgb(0, 0, 0);
      opacity: 0.7;
    }
  }
}

.blockThree {
  justify-content: space-between;

  div {
    text-align: center;
  }

  .blockThreeFlex {
    border-bottom: 0.5px solid rgb(49, 48, 48);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    li {
      list-style-type: none;
    }

    .one {
      width: 10%;
      text-align: left;
    }

    .fullName {
      width: 30%;
      text-align: left;
    }

    .dateBirthday {
      width: 25%;
    }

    .cipher {
      width: 25%;
    }

    .well {
      width: 10%;
    }
  }
}
